.container-footer {
  background-image: url("../../../public/images/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  position: relative;
}
footer .nav-footer {
  display: flex;
  justify-content: start;
}
footer .nav-footer ul {
  list-style-type: none;
}
footer .nav-footer li a {
  text-decoration: none;
  color: lightslategrey;
  line-height: 2rem;
}
footer .nav-footer .menu-left,
footer .nav-footer .menu-center,
footer .nav-footer .menu-right {
  padding: 20px 20px 20px 0px;
}
footer .nav-footer h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}
footer .nav-footer .logo-bg {
  position: absolute;
  left: 800px;
}

.sign-up {
  height: 100px;
  background-color: black;
  position: absolute;
  width: 100%;
}

header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  padding: 20px;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style-type: none;
}
header li {
  padding: 15px;
}
header li a {
  text-decoration: none;
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
}
header .active {
  color: #0e86d4;
  border-bottom: 5px solid #0e86d4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

main {
  margin: 0 auto;
}
main .container {
  background-color: #2c3e50;
}
main .jumbotron {
  width: 100%;
  height: 340px;
  position: relative;
}
main .jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}
main .jumbotron button {
  position: absolute;
  background-color: #0e86d4;
  top: 260px;
  height: 50px;
  left: 50px;
  color: #eeecec;
  padding: 10px;
  font-size: 1.2rem;
}
main .container-cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .container-cards .card {
  flex-basis: calc(16.6666666667% - 30px);
  margin: 20px 5px;
}
main .container-cards .card img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .container-cards .card h5 {
  font-size: 0.9rem;
  color: #eeecec;
  text-transform: uppercase;
  padding-top: 10px;
}
main .container-cards .card a {
  text-decoration: none;
}

.jambotron {
  width: 100%;
  height: 340px;
  position: relative;
  margin-bottom: 80px;
}
.jambotron img {
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

#card-detail {
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 100px;
}
#card-detail h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
}
#card-detail .wrapper-buy {
  display: flex;
  justify-content: space-between;
  background-color: #45ad5f;
  margin: 20px;
}
#card-detail .wrapper-buy .price {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  border: 1px solid black;
  align-items: center;
}
#card-detail .wrapper-buy .price p {
  padding: 20px;
  color: white;
}
#card-detail .wrapper-buy .check {
  border: 1px solid black;
}
#card-detail .wrapper-buy .check p {
  padding: 20px;
  color: white;
}
#card-detail .img {
  align-self: center;
}

.detail {
  background-color: #e7e4e4;
  border-bottom: 1px solid grey;
}
.detail .wrapper-detail {
  background-color: #e7e4e4;
  display: flex;
  margin: 0 auto;
  width: 60%;
}
.detail .wrapper-detail .talent {
  width: 50%;
  padding: 0 50px 0 0;
}
.detail .wrapper-detail .talent .art-by,
.detail .wrapper-detail .talent .writen {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid grey;
}
.detail .wrapper-detail .talent .title-talent {
  width: 40%;
}
.detail .wrapper-detail .talent .writers,
.detail .wrapper-detail .talent .artists {
  width: 60%;
}
.detail .wrapper-detail .talent .writers a,
.detail .wrapper-detail .talent .artists a {
  text-decoration: none;
  color: #699eca;
}
.detail .wrapper-detail .talent span {
  font-size: 0.9rem;
}
.detail .wrapper-detail .talent h3 {
  padding: 30px 0;
  border-bottom: 1px solid grey;
}
.detail .wrapper-detail .specs {
  width: 50%;
  padding: 0 50px 0 0;
}
.detail .wrapper-detail .specs h3 {
  padding: 30px 0;
  border-bottom: 1px solid grey;
}
.detail .wrapper-detail .specs .series,
.detail .wrapper-detail .specs .us-price,
.detail .wrapper-detail .specs .date {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
.detail .wrapper-detail .specs .series h5,
.detail .wrapper-detail .specs .us-price h5,
.detail .wrapper-detail .specs .date h5 {
  width: 40%;
}

body {
  font-size: 1.2rem;
}