
header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        padding:20px;
    }

    ul{
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        list-style-type: none;
    }
    li {
        padding:15px;
        
    }
    li a {
        text-decoration: none;
        color: #2c3e50;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px;
    }

    .active {
        color: #0e86d4;;
        border-bottom: 5px solid #0e86d4;;
    }
}

    
