

#card-detail {
    display: flex;
    width: 80%;
    margin: 0 auto;

    .wrapper-buy{
        display: flex;
        justify-content: space-between;
        background-color: rgb(69, 173, 95);
        margin:20px;

        .price{
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            border: 1px solid black;
            align-items: center;

            p{
                padding: 20px;
                color: white;
            }
            
        }

        .check {
            border: 1px solid black;

            p{

                padding: 20px;
                color: white;
            }
        }    
    }
    .img {
        align-self: center;
    }
}

.wrapper-detail {
    background-color: rgb(231, 228, 228);
}