.jambotron {
    width: 100%;
        height: 340px;
        position: relative;
        margin-bottom: 80px;
        img {
            width: 100%;
            height: 100%;
            object-position: top;
            object-fit: cover;
            }
}

#card-detail {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 100px;

    h1{
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    .wrapper-buy{
        display: flex;
        justify-content: space-between;
        background-color: rgb(69, 173, 95);
        margin:20px;

        .price{
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            border: 1px solid black;
            align-items: center;

            p{
                padding: 20px;
                color: white;
            }
            
        }

        .check {
            border: 1px solid black;

            p{

                padding: 20px;
                color: white;
            }
        }    
    }
    .img {
        align-self: center;
    }
}

.detail{
    background-color: rgb(231, 228, 228);
    border-bottom: 1px solid grey;


.wrapper-detail {
    background-color: rgb(231, 228, 228);
    display: flex;
    margin:0 auto;
    width: 60%;

    .talent{
        width: 50%;
        padding: 0 50px 0 0;

        .art-by,
        .writen{
            display:flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid grey;
        }

        .title-talent{
            width: 40%
        }

        .writers,
        .artists{
            width: 60%;

            a{
                text-decoration: none;
                color: rgb(105, 158, 202);
            }
        }

        span {
            font-size: .9rem;
        }

        h3{           
            padding: 30px 0;
            border-bottom: 1px solid grey;
        }

    }

    .specs{
        width: 50%;
        padding: 0 50px 0 0;

        h3{
            padding: 30px 0;
            border-bottom: 1px solid grey;
        }

        .series,
        .us-price,
        .date {
            display:flex;
            border-bottom: 1px solid grey;
            padding: 10px 0;

            h5{
                width: 40%;
            }

        }
        
    }

}
}